body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    text-align: center;
  }
  
  .map-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto; /* Center the map-wrapper */
  }
  
  #map-canvas {
    width: 720px;
    height: 400px;
    border: 6px solid #056af7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  